RewriteEngine On

# Se não for um arquivo real...
RewriteCond %{REQUEST_FILENAME} !-f
# E não for um diretório...
RewriteCond %{REQUEST_FILENAME} !-d
# Então adicione .php à requisição
RewriteRule ^([^\.]+)$ $1.php [NC,L]
